aiofiles
aiohttp
apscheduler
bs4
cinemagoer
colorama
countryinfo
datetime
dnspython
ffmpeg
ffmpeg-python
Flask
fuzzywuzzy
gTTS
googletrans
gunicorn
hachoir
Heroku3
humanize
httpx[http2]
itsdangerous
jinja2
NumPy
openai
opencv-python-headless
Pillow
psutil
pycryptodome
pygments
pyromod
pymongo==3.12.3 
mongoengine==0.27.0
motor
marshmallow
umongo
PyPDF2
python-decouple
python-dotenv
python-Levenshtein
pyshorteners
requests
search_engine_parser
shortzy
speedtest
speedtest-cli
telegraph
tgcrypto
pyrotgfork
ujson
wget
werkzeug
wheel
yt-dlp
youtube-dl
youtube-search
youtube-search-python
ytthumb
setuptools>=69.0.0
git+https://github.com/agronholm/anyio
git+https://github.com/Joelkb/cinemagoer

